body {
    background-color: antiquewhite;
    color: green;
}
/* Styling the list of items in the nav bar*/
nav u1 {
    display:flex;
    flex-wrap:wrap;
    margin:0;
    padding:0;
}
/* Styling the space of each item */
nav li {
    list-style:none;
    background-color:green;
    color:antiquewhite;
    margin:0;
    flex:1;
    text-align:center;
}
/* Styling the link, both unvisited and visted */
nav a, nav a:visited{
    text-decoration:none;
    width:100%;
    padding:8px 0px;
    color:antiquewhite;
}
/* Hovering over a link */
nav a:hover {
    color:green;
    background-color:rgb(173, 230, 160,);
}